version: '3'
services:

  verification-context-dynamo-db:
    image: amazon/dynamodb-local:latest
    container_name: verification-context-dynamo-db
    ports:
      - 8001:8000

  verification-context-app:
    image: michaelruocco/verification-context-spring-app
    container_name: verification-context-app
    ports:
      - 8081:80
    environment:
      - SPRING_PROFILES_ACTIVE=default
      - SERVER_PORT=80
      - AWS_ACCESS_KEY=abc
      - AWS_SECRET_KEY=123
      - AWS_DYNAMO_DB_ENDPOINT_URI=http://verification-context-dynamo-db:8000
    depends_on:
      - verification-context-dynamo-db